<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is going to be the main page</h1>
    <a href="/cours">Ajouter/Voir les cours</a><br>
    <a href="/profs">Ajouter/Voir les profs</a><br>
    <a href="/etudiant">Ajouter/Voir les etudiants</a><br>
</body>
</html>