<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les Profs</title>
</head>
<body>
    <form action="/profs" method="post">
        <label for="prenom">Prenom: </label>
        <input type="text" name="prenom" placeholder="John">
        <br>
        <label for="nom">Nom: </label>
        <input type="text" name="nom" placeholder="Doe">
        <br>
        <button>Submit</button>
    </form>

    <ul>
        <% data.forEach(prof => { %>
         <a href="/profs/<%= prof._id %>"><%= prof.nom %>, <%= prof.prenom %></a> <br>
        <% }) %>
    </ul>
    <a href="/">Retourner au menu</a>
</body>
</html>